@charset "utf-8";

*, *:before, *:after {
	box-sizing: border-box;
}

html, body, h1, h2, p, img, div, ul, ol, li {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

.text-center {
	text-align: center;
}

body {
	font: 15px Arial, Helvetica, '微軟正黑體', sans-serif;
	background-image: url("../images/body_bg.jpg") repeat-x left top;
}

.title {
	margin: 1em 0;
	color: #000;
	font-size: 3em;
	text-shadow: 1px 1px #fff;
}

.container {
	max-width: 1200px;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.grid {
	display: grid;
	gap: 1rem;
}

.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}

.prod {
	padding: 1em;
	text-align: center;
	border-radius: 10px;
	border: solid 1px #999;
}

.prod-title {
	font-size: 1.5em;
	margin-bottom: .5em;
}

.prod-desc {
	color: #666;
	line-height: 1.5;
}

.prod-imgs {
	margin-top: 1em;
	height: 95px;
	overflow: hidden;
}