* {
	box-sizing: border-box;
}

img {
	vertical-align: bottom;
}

.container {
	max-width: 980px;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.img-resp {
	max-width: 100%;
	height: auto;
}

body {
	font: 15px/1 Arial, '微軟正黑體', '細明體';
}

.header,
.navi,
.content,
.footer {
	padding: 15px;
}

.header {
	height: 100px;
	background-color: #eee;
}

.navi {
	background-color: #ddd;
}

.content {
	background-color: #eee;
}

.footer {
	height: 70px;
	background-color: #ddd;
}

.desc {
	line-height: 1.5;
}