@charset "utf-8";

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

.container {
	max-width: 900px;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.article p {
	line-height: 1.5;
}

.nav {
	padding-left: 5px;
	padding-right: 5px;
	background-color: olive;
	border-radius: 5px;
	height: 40px;
	overflow: hidden;
}

.nav-ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	display: flex;
}