@charset "utf-8";

.container {
	max-width: 1200px;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.img-resp {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-size: 15px;
	font-family: Arial, "微軟正黑體";
	background-color: #eee;
}

.base {
	background-color: #f69f9f;
}