@charset "utf-8";

html, body, div, h1, table, tr, td {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../images/bg.jpg");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif, '微軟正黑體';
	font-size: 15px;
}

.text-center {
	text-align: center;
}

.title {
	color: #FFF;
	text-align: center;
	margin: 1em 0;
}

.wrap {
	width: 660px;
	margin: auto;
	padding: 40px;
	background-image: url("../images/wrap_bg.png");
	background-repeat: no-repeat;
}

