@charset "utf-8";

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
	background-color: #eee;
}

img {
	vertical-align: bottom;
}

.img-resp {
	max-width: 100%;
	height: auto;
}


.btn {
	display: inline-block;
	padding: .5em 1em;
	text-decoration: none;
	border-radius: 5px;
}

.btn-peace {
	color: #fff;
	background-color: #0288d1;
}

.btn-peace:hover {
	background-color: #0076b6;
}

